/* Main stylesheet */

/* Global CSS variable declarations */
:root {
    --purple-accent: #1e162e;
    --pink-accent: #e37286;
    --maroon-accent: #9b5679;
    --background: #ced9f5;
    --body-font: 'Merriweather', serif;
    --heading-font: 'Shippori Mincho B1', serif;
}

/* Base styles for page */
html {
    min-height: 100%;
}

/* Base styles for html body */
body {
    font-family: var(--body-font);
    line-height: 1.5;
}

/* Headings font declaration */
h1,h2,h3 {
    font-family: var(--heading-font);
}

/* H2 size declaration */
h2 {
    font-size: 250%;
}

/* Header styles and flexbox declaration + properties */
header {
    display: flex;
    padding: 30px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background: linear-gradient(180deg, #839fe6 , var(--background));
}

/* Header H1 styles */
header h1 {
    font-size: 200%;
    color: var(--pink-accent);
}

/* Stephen A. Roddewig callout styles */
header .nav-title {
    background-color: var(--purple-accent);
    padding: 30px;
    border-radius: 0 3px 3px 0;
    max-width: 400px;
    width: 100%;
}

/* Mobile menu icon for small screen sizes -- hidden */
header .nav-title i {
    display: none;
}

/* Callout tagline styles */
header .tagline {
    color: #fff;
    padding-top: 15px;
}
/* END Header styles */

/* Nav styles */
nav {
    height: auto;
    width: fit-content;
}

/* Sets list items to display side by side */
nav .link {
    display: inline-block;
    text-align: center;
    font-size: 125%;
    margin-right: 25px;
}

/* Increases right margin on final list item for more offset from page edge */
nav .link:last-child {
    margin-right: 50px;
}

/* Setting styles and transition on link class and overwriting anchor text native styles */
nav .link,
nav .link a {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.25s ease-in-out;
}

/* Setting hover effects for nav list item "links" */
nav .link:hover,
nav .link:hover a {
    color: rgba(0, 0, 0, 0.5);
}
/* END Header styles */

/* Main banner styles */
figure {
    background-image: url("./../Images/lighthouse-banner.jpg");
    background-position: 25% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

/* Main content styles */
main {
    padding: 65px 50px 0 50px;
    background: linear-gradient(180deg, var(--background), #4770da);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    /* Makes gradient background follow viewport scrolling */
    background-attachment: fixed;
}

/* About Me card (headshot and H2) styles */
main .about-me {
    display: grid;
    grid-template: auto / 250px auto;
    justify-items: start;
    grid-column-gap: 30px;
    align-items: end;
    margin: -200px auto 30px auto;
    max-width: 1000px;
    width: 100%;
}

/* Headshot styles */
main .about-me .headshot {
    border: 8px solid var(--maroon-accent);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
    max-width: 250px;
    width: 100%;
    height: auto;
}

/* About Me card H2 styles */
main .about-me h2 {
    width: fit-content;
}

/* Container styles for gray background behind About Me bio */
main .gray-background {
    background-color: #454545;
    padding: 30px;
    border-radius: 12px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

/* About Me bio paragraph styles */
main .gray-background p {
    color: #fff;
    font-size: 110%;
}

/* Adds extra margin offset on first paragraph to separate two paragraphs */
main .gray-background p:first-child {
    margin-bottom: 20px;
}

/* Selected Works H2 styles */
main h2.selected-works {
    max-width: 1000px;
    width: 100%;
    margin: 40px auto 20px auto;
}

/* Selected Works grid properties and styles */
main .works-grid {
    display: grid;
    justify-content: center;
    grid-template: repeat(3, auto) / 470px 470px;
    column-gap: 60px;
    row-gap: 40px;
    padding-bottom: 60px;
}

/* Selected Works grid inner div properties and styles */
main .works-grid .card {
    height: 235px;
    /* Background properties applying across all divs */
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid var(--purple-accent);
    border-radius: 5px;
}

/* Sets divs wrapping H3s and paragraphs inside .card divs to height 100% so anchor tags cover entire displaying background image */
main .works-grid .card div {
    height: 100%;
}

/* Removes underline on H3s and paragraphs wrapped by anchor tags */
main .works-grid .card a {
   text-decoration: none;
}

/* Spacing and font size for H3s inside Selected Works grid */
main .works-grid h3 {
    font-size: 130%;
    padding: 15px;
}

/* Spacing for paragraphs inside Selected Works grid */
main .works-grid p {
    padding: 0 15px 15px;
}

/* Styles for H3s and paragraphs inside Selected Works grid, including Opacity 0 so they only display on hover */
main .works-grid p,
main .works-grid h3 {
    opacity: 0;
    color: var(--purple-accent);
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.75s;
}

/* Hover effect for H3s and paragraphs to display as specified by transition property above */
main .works-grid div:hover p, 
main .works-grid div:hover h3 {
    opacity: 100%;
}

/* Specific styles for featured work sample, including spanning both columns for larger display and custom height setting */
main .works-grid #mfgs {
    grid-column: 1 / span 2;
    /* Overwriting height property for featured work sample */
    height: 400px;
    background-image: url('./../Images/MFGS-Leadership-1000.png');
}

/* Sets background image for FNN page work sample */
main .works-grid #fnn {
    background-image: url('./../Images/FNN-Partners-470.png');
}

/* Sets background image for CSS Snippets page work sample */
main .works-grid #css-snippet {
    background-image: url('./../Images/CSS-Snippet-470.png');
}

/* Sets background image for GovForward page work sample */
main .works-grid #govforward {
    background-image: url('./../Images/GovForward-470.png');
}

/* Sets background image for 2020 Compendium page work sample */
main .works-grid #compendium {
    background-image: url('./../Images/2020-Compendium-470.png');
}
/* END Main content styles */

/* Footer styles */
footer {
    background-color: var(--purple-accent);
    color: #fff;
}

/* Footer H2 styles */
footer h2 {
    font-size: 200%;
    max-width: 1270px;
    width: 100%;
    padding-top: 20px;
    margin: 0 auto 10px auto;
}

/* Footer contact info flexbox declaration + properties */
footer .contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
}

/* Overwriting default font color for Footer anchor tags */
footer .contact-info a {
    color: #fff;
}

/* Individual contact boxes styles */
footer .contact-info div {
    margin-top: 10px;
    margin-right: 100px;
    font-size: 130%;
}

/* Removing margin right on last contact box so that spacing only exists between boxes */
footer .contact-info div:last-child {
    margin-right: 0px;
}

/* Sets transition on contact box anchors tags and icons (via Font Awesome) */
footer .contact-info div a,
footer .contact-info div i {
    transition: color 0.25s;
}

/* Hover effect for contact box anchor tags and icons */
footer .contact-info div:hover a,
footer .contact-info div:hover i {
    color: rgba(255, 255, 255, 0.5);
}

/* Pseudo element for phone icon (via Font Awesome) -- implemented with pseudo element for ease of assigning hover effects to anchor tags and icon tags */
footer .contact-info #phone::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f879";
    padding-right: 10px;
}

/* Font Awesome icon styles */
footer .contact-info .fab,
footer .contact-info .far {
    padding-right: 10px;
    font-size: 120%;
}

/* Special style to allow line break on small screens */
footer .contact-info #email br {
    display: none;
}

/* Footer inspirational ending note styles */
footer .ending-note {
    text-align: center;
    font-size: 120%;
    margin: 40px auto 30px auto;
}

/* Footer copyright styles */
footer .copyright {
    text-align: center;
    padding-bottom: 30px;
}

/* Start media queries */
@media only screen and (max-width: 1120px) {
    /* Adds top margin to separate from title card after flex wrap and aligns left with start of title card content */
    nav {
        margin-top: 15px;
        margin-left: 30px;
    }

    /* Reduces padding on sides of Main */
    main {
        padding: 65px 30px 0 30px;
    }

    /* Keeps H2 aligned with Selected Works grid */
    main h2.selected-works {
        max-width: 700px;
    }

    /* Selected Works grid column sizing and spacing adjustment */
    main .works-grid {
        grid-template-columns: 320px 320px;
        column-gap: 60px;
        row-gap: 40px;
    }

    /* Centers background images for Selected Works cards and sets height */
    main .works-grid .card {
        background-position: center;
        height: 200px;
    }

    /* Special height setting for featured work sample */
    main .works-grid #mfgs {
        height: 280px;
    }

    /* Centers Footer H2 */
    footer h2 {
        text-align: center;
    }

    /* Sets contact boxes to column and centers boxes */
    footer .contact-info {
        flex-direction: column;
        align-items: center;
    }

    /* Removes margin right and increases margin top for contact boxes */
    footer .contact-info div {
        margin-right: 0px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 800px) {
    /* Adds top margin to nav lis to separate from first row after flex wrap */
    nav .link {
        margin-top: 10px;
    }
    
    /* Reduces height of figure to keep background image more centered */
    figure {
        height: 400px;
    }
    
    /* Removes side padding on Main */
    main {
        padding: 65px 0 0 0;
    }

    /* Adjusts About Me grid to one column layout */
    main .about-me {
        grid-template: auto auto / 250px;
        justify-content: center;
        justify-items: center;
        margin-bottom: 20px;
    }

    /* Adds top margin now that H2 is positioned beneath headshot */
    main .about-me h2 {
        margin-top: 20px;
    }

    /* Removes border rounding now that container stretches to both sides of viewport */
    main .gray-background {
        border-radius: 0px;
    }

    /* Keeps H2 aligned with Selected Works grid */
    main h2.selected-works {
        max-width: 500px;
    }

    /* Sets Selected Works grid to single column layout and reduces column width */
    main .works-grid {
        grid-template: repeat(5, auto) / 500px;
    }

    /* Special height setting for featured work sample and removes two column span */
    main .works-grid #mfgs {
        height: 200px;
        grid-column: 1 / span 1;
    }
}

@media only screen and (max-width: 575px) {
    /* Reduces height of figure to keep background image more centered */
    figure {
        height: 300px;
    }

    /* Reduces headshot size for smaller screens */
    main .about-me .headshot {
        max-width: 200px;
    }

    /* Reduces font size for smaller screens */
    main .about-me h2 {
        font-size: 200%;
    }

    /* Keeps H2 aligned with Selected Works grid and reduces font size for smaller screens */
    main h2.selected-works {
        font-size: 200%;
        max-width: 400px;
    }

    /* Reduces column width of Selected Works grid */
    main .works-grid {
        grid-template-columns: 400px;
    }

    /* Adjusts height of Selected Works card -- important added to override #mfgs selector */
    main .works-grid .card {
        height: 250px !important;
    }
}

@media only screen and (max-width: 460px) {
    /* Makes title card flush with top of viewport */
    header {
        padding: 0px;
    }
    
    /* Sets title card display to grid so that menu icon can be positioned with title and tagline */
    header .nav-title {
        max-width: 460px;
        padding-top: 50px;
        display: grid;
        grid-template: auto auto / auto 50px;
    }

    /* Sets menu icon to display and sets styles */
    header .nav-title i {
        display: block;
        font-size: 300%;
        color: #fff;
        margin-top: 8px;
        transition: color 0.25s;
    }

    /* Hides nav so that menu.js event listener can toggle with .menu-open class */
    nav {
        display: none;
        margin-top: 0px;
    }

    /* Sets nav lis to display vertically and removes existing spacing and text alignment */
    nav .link {
        display: block;
        margin-right: 0px;
        text-align: left;
        margin-bottom: 10px;
    }

    /* Removes margin on last nav li */
    nav .link:last-child {
        margin-right: 0px;
    }

    /* Class toggled by menu.js event listener to display mobile dropdown menu */
    .menu-open {
        display: block;
    }

    /* Class toggled by menu.js event listener to show mobile menu icon has been clicked */
    .menu-icon-active {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    /* Reduce height of figure to keep background image more centered */
    figure {
        height: 250px;
    }

    /* Reduce negative margin on About Me grid to account for smaller figure */
    main .about-me {
        margin-top: -150px;
    }

    /* Reduces font-size on bio paragraphs */
    main .gray-background p {
        font-size: 100%;
    }

    /* Centers H2 */
    main h2.selected-works {
        text-align: center;
    }

    /* Sets Selected Works grid width to 100% of viewport -- removing fixed widths from earlier queries */
    main .works-grid {
        grid-template-columns: 100%;
    }

    /* Adds more height to Selected Works grid cards than normally provided by the content inside the divs */
    main .works-grid .card {
        height: 120% !important;
    }

    /* Reduces font-size of contact info boxes and centers text */
    footer .contact-info div {
        font-size: 100%;
        text-align: center;
    }

    /* Toggles line break in email address for small screen sizes */
    footer .contact-info #email br {
        display: inline;
    }
}

@media only screen and (max-width: 400px) {
    /* Reduce height of figure to keep background image more centered */
    figure {
        height: 200px;
    }

    /* Reduce offset on About Me grid to account for lower height of figure */
    main .about-me {
        margin-top: -140px;
    }

    /* Reduce headshot size for smaller screens */
    main .about-me .headshot {
        max-width: 150px;
    }
}

@media only screen and (max-width: 320px) {
    /* Provides more space around outside of title card */    
    header .nav-title {
        padding: 50px 20px 30px 20px;
    }
    
    /* Provides more space around outside of bio paragraphs */
    main .gray-background {
        padding: 20px;
    }
}