/* Main stylesheet */

/* Global CSS variable declarations */
:root {
    --purple-accent: #1e162e;
    --pink-accent: #e37286;
    --maroon-accent: #9b5679;
    --background: #ced9f5;
    --body-font: 'Merriweather', serif;
    --heading-font: 'Shippori Mincho B1', serif;
}

html {
    min-height: 100%;
}

/* Base styles for page */
body {
    font-family: var(--body-font);
    line-height: 1.5;
}

/* Headings font declaration */
h1,h2,h3 {
    font-family: var(--heading-font);
}

h2 {
    font-size: 180%;
}

/* Header styles */
header {
    display: flex;
    padding: 30px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background: linear-gradient(180deg, #839fe6 , var(--background));
}

header h1 {
    font-size: 200%;
    color: var(--pink-accent);
}

header .nav-title {
    background-color: var(--purple-accent);
    padding: 30px;
    border-radius: 0 3px 3px 0;
    max-width: 400px;
    width: 100%;
}

header .tagline {
    color: #fff;
    padding-top: 15px;
}

/* Nav styles */
nav {
    height: auto;
    width: fit-content;
}

nav ul li {
    display: inline-block;
    text-align: center;
    font-size: 125%;
    margin-right: 25px;
}

nav ul li:last-child {
    margin-right: 50px;
}

nav .link,
nav .link a {
    color: #000;
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.25s ease-in-out;
}

nav .link:hover,
nav .link:hover a {
    color: rgba(0, 0, 0, 0.5);
}

/* Main banner styles */
figure {
    background-image: url("./../Images/lighthouse-banner.jpg");
    background-position: 25% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

figure .headshot {
    border: 8px solid var(--maroon-accent);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
    position: relative;
    left: 180px;
    top: 325px;
    width: 250px;
    height: auto;
}

/* Main content styles */
main {
    padding: 65px 50px 0 50px;
    /* Alternate ending value 4770da */
    background: linear-gradient(180deg, var(--background), #839fe6);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main .about-me {
    display: grid;
    grid-template: auto / 250px auto;
    justify-items: start;
    grid-column-gap: 30px;
    align-items: end;
    margin: -200px auto 30px auto;
    max-width: 1000px;
    width: 100%;
}

main .about-me .headshot {
    border: 8px solid var(--maroon-accent);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.75);
    max-width: 250px;
    width: 100%;
    height: auto;
}

main .about-me h2 {
    font-size: 250%;
    width: fit-content;
}

main .gray-background {
    background-color: #454545;
    color: #fff;
    padding: 30px;
    border-radius: 12px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

main .gray-background p {
    margin-bottom: 20px;
    font-size: 110%;
}

main .gray-background p:last-child {
    margin-bottom: 0px;
}

main .selected-works {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
}

main .works-grid {
    display: grid;
    justify-content: center;
    grid-template: repeat(3, auto) / 470px 470px;
    column-gap: 60px;
    row-gap: 40px;
    padding-bottom: 40px;
}

main .works-grid .card {
    height: 235px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid var(--purple-accent);
    border-radius: 5px;
}

main .works-grid .card div {
    height: 100%;
}

main .works-grid .card a {
   text-decoration: none;
}

main .works-grid h3 {
    font-size: 130%;
    padding: 15px;
}

main .works-grid p {
    padding: 0 15px 15px;
}

main .works-grid p,
main .works-grid h3 {
    opacity: 0;
    color: var(--purple-accent);
    background-color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.75s;
}

main .works-grid div:hover p, 
main .works-grid div:hover h3 {
    opacity: 100%;
}

main .works-grid #mfgs {
    grid-column: 1 / span 2;
    height: 400px;
    background-image: url('./../Images/MFGS-Leadership-1000.png');
}

main .works-grid #fnn {
    background-image: url('./../Images/FNN-Partners-470.png');
}

main .works-grid #css-snippet {
    background-image: url('./../Images/CSS-Snippet-470.png');
}

main .works-grid #govforward {
    background-image: url('./../Images/GovForward-470.png');
}

main .works-grid #compendium {
    background-image: url('./../Images/2020-Compendium-470.png');
}
/* END Main content styles */

/* Footer styles */
footer {
    background-color: var(--purple-accent);
    color: #fff;
}

footer h2 {
    max-width: 1270px;
    width: 100%;
    padding-top: 20px;
    margin: 0 auto 10px auto;
}

footer .contact-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

footer .contact-info a {
    color: #fff;
}

/* Individual contact boxes */
footer .contact-info div {
    margin-right: 100px;
    font-size: 130%;
}

footer .contact-info div:last-child {
    margin-right: 0px;
}

footer .contact-info div a,
footer .contact-info div i {
    transition: color 0.25s;
}

footer .contact-info div:hover a,
footer .contact-info div:hover i {
    color: rgba(255, 255, 255, 0.5);
}

footer .contact-info #phone::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f879";
    padding-right: 10px;
}

footer .contact-info .fab,
footer .contact-info .far {
    padding-right: 10px;
    font-size: 120%;
}

footer .ending-note {
    text-align: center;
    font-size: 120%;
    margin: 40px auto 30px auto;
}

footer .copyright {
    text-align: center;
    padding-bottom: 30px;
}